In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df.head()

,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province
0,AVwc__cikufWRAb51QjV,610 Commercial St,"Restaurant Delivery Service,Restaurants,Pizza,...",Atchison,Restaurant Delivery Service,2016-03-02T11:49:34Z,2017-02-01T18:04:44Z,39.561570,-95.121020,NaN,NaN,2017-02-01T18:04:44Z,NaN,Taco,Gambino's Pizza,KS
1,AVwc__cikufWRAb51QjV,610 Commercial St,"Restaurant Delivery Service,Restaurants,Pizza,...",Atchison,Restaurant Delivery Service,2016-03-02T11:49:34Z,2017-02-01T18:04:44Z,39.561570,-95.121020,NaN,NaN,2016-03-02T11:49:34Z,"Beef, onion, cheddar cheese, lettuce, refried...",Taco,Gambino's Pizza,KS
2,AVwc__dF_7pvs4fz1Ncy,9521 Morton Davis Dr,"Golf Course, American Restaurant, and Resort",Patterson,NaN,2016-10-14T01:58:25Z,2016-10-14T01:58:25Z,37.401855,-121.266703,NaN,NaN,2016-10-14T01:58:25Z,"Beef barbacoa or chicken, spanish rice, pico d...",Smotherd Burrito,Diablo Grande Golf & Country Club,Grayson
3,AVwc__kCByjofQCxkdm-,10550 W I 25 Frontage Rd,Fast Food Restaurant,Longmont,NaN,2016-09-09T17:30:34Z,2016-10-04T05:15:17Z,NaN,NaN,NaN,NaN,2016-09-09T17:30:34Z,NaN,Sausage Burrito,Mcdonald's,Niwot
4,AVwc__WtByjofQCxkdkR,8495 W 3rd St,"Mexican Restaurant Mid-City West,Mexican Resta...",Los Angeles,Mexican,2016-05-19T11:50:25Z,2016-09-11T00:06:37Z,34.080724,-118.389578,NaN,NaN,2016-05-19T11:50:25Z,"Wahoo, avocado, cabbage, pico de gallo and av...",Wahoo Tacogrilled,Baja Fresh Mexican Grill,Bicentennial

In [4]:
df.dtypes

id                    object
address               object
categories            object
city                  object
cuisines              object
dateAdded             object
dateUpdated           object
latitude             float64
longitude            float64
menus.category        object
menus.currency        object
menus.dateSeen        object
menus.description     object
menus.name            object
name                  object
province              object
dtype: object

In [5]:
df.describe()

           latitude     longitude
count  55636.000000  55636.000000
mean      36.694846    -98.713309
std        4.835124     18.245857
min      -31.986438   -159.492690
25%       33.668355   -117.647150
50%       36.047195    -96.682320
75%       40.588380    -82.679930
max       61.219460    115.903696

In [6]:
df.dropna().head()

,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province
72,AVwc_6st_7pvs4fz1Mln,95 Matthews Dr,Restaurant,Hilton Head Island,"Japanese, Thai, Hibachi",2015-10-19T20:43:35Z,2016-08-22T11:22:45Z,32.212044,-80.701132,Appetizers Sushi Bar,USD,2016-08-20T00:00:00Z,"Pepper tuna, pepper white tuna, spicy crab mea...",Taco Tara,Okko Hilton Head,SC
242,AVwc_DjlkufWRAb51GPc,2610 Lyndale Ave S,Restaurant,Minneapolis,"American, Bar / Lounge / Bottle Service",2016-08-01T19:18:23Z,2016-08-22T11:27:55Z,44.954945,-93.288246,Main Course,USD,2016-08-20T00:00:00Z,Main i pico slaw i radish i cilantro-lime crem...,Blackened Fish Tacos,French Meadow Cafe & Bluestem Bar,MN
243,AVwc_DjlkufWRAb51GPc,2610 Lyndale Ave S,Restaurant,Minneapolis,"American, Bar / Lounge / Bottle Service",2016-08-01T19:18:23Z,2016-08-22T11:27:55Z,44.954945,-93.288246,Main Course,USD,2016-08-20T00:00:00Z,Blackened organic tempeh i tempeh chorizo i pi...,Blackened Tempeh Tacos,French Meadow Cafe & Bluestem Bar,MN
259,AVwc_DW1_7pvs4fz1DBV,119 W Clay St,"Bistro,American Restaurant,New American Restau...",Mebane,"American Restaurants,American, Contemporary Am...",2016-03-31T02:34:19Z,2017-07-03T17:12:10Z,36.097057,-79.267750,Main,USD,2016-04-24T00:00:00Z,"Grilled or blackened with house made tortilla,...",Shrimp or Mahi Taco,Mebane Downtown Table,NC
261,AVwc_DW1_7pvs4fz1DBV,119 W Clay St,"Bistro,American Restaurant,New American Restau...",Mebane,"American Restaurants,American, Contemporary Am...",2016-03-31T02:34:19Z,2017-07-03T17:12:10Z,36.097057,-79.267750,Starters,USD,2016-04-24T00:00:00Z,"Slow cooked leg of duck, house made tortilla w...",Duck Confit Tacos,Mebane Downtown Table,NC

In [7]:
df[
    df['city'] == 'California'
].head()

,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province
40483,AVwdBeyk_7pvs4fz1cwP,308 S Oak St,"Gas Station,Convenience Stores,Grocery Stores,...",California,Pizza,2016-04-02T05:28:33Z,2016-09-14T02:53:47Z,38.630528,-92.566433,NaN,USD,"2016-04-02T05:28:33Z,2016-09-14T02:53:47Z",NaN,Breakfast Burrito,Casey's General Store,MO
52930,AVwdKTFqIN2L1WUfs1SP,1020 W Buchanan St,"Fast Food Restaurant and Mexican Restaurant,Me...",California,NaN,2015-12-02T19:29:16Z,2016-05-05T00:56:00Z,38.631220,-92.580769,NaN,NaN,2016-04-02T05:28:11Z,"A crunchy, red corn tortilla shell, filled wit...",Volcano Taco,Taco Bell,MO
52931,AVwdKTFqIN2L1WUfs1SP,1020 W Buchanan St,"Fast Food Restaurant and Mexican Restaurant,Me...",California,NaN,2015-12-02T19:29:16Z,2016-05-05T00:56:00Z,38.631220,-92.580769,NaN,NaN,2016-04-02T05:28:11Z,NaN,Volcano Burrito,Taco Bell,MO
52932,AVwdKTFqIN2L1WUfs1SP,1020 W Buchanan St,"Fast Food Restaurant and Mexican Restaurant,Me...",California,NaN,2015-12-02T19:29:16Z,2016-05-05T00:56:00Z,38.631220,-92.580769,NaN,NaN,2016-04-02T05:28:11Z,NaN,Soft Taco Supreme Beef,Taco Bell,MO
52933,AVwdKTFqIN2L1WUfs1SP,1020 W Buchanan St,"Fast Food Restaurant and Mexican Restaurant,Me...",California,NaN,2015-12-02T19:29:16Z,2016-05-05T00:56:00Z,38.631220,-92.580769,NaN,NaN,2016-04-02T05:28:11Z,NaN,Grilled Chicken Burrito,Taco Bell,MO

In [8]:
df[
    (df['city'] == 'California') & (df['name'] == 'Taco Bell')
].head()

,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province
52930,AVwdKTFqIN2L1WUfs1SP,1020 W Buchanan St,"Fast Food Restaurant and Mexican Restaurant,Me...",California,NaN,2015-12-02T19:29:16Z,2016-05-05T00:56:00Z,38.63122,-92.580769,NaN,NaN,2016-04-02T05:28:11Z,"A crunchy, red corn tortilla shell, filled wit...",Volcano Taco,Taco Bell,MO
52931,AVwdKTFqIN2L1WUfs1SP,1020 W Buchanan St,"Fast Food Restaurant and Mexican Restaurant,Me...",California,NaN,2015-12-02T19:29:16Z,2016-05-05T00:56:00Z,38.63122,-92.580769,NaN,NaN,2016-04-02T05:28:11Z,NaN,Volcano Burrito,Taco Bell,MO
52932,AVwdKTFqIN2L1WUfs1SP,1020 W Buchanan St,"Fast Food Restaurant and Mexican Restaurant,Me...",California,NaN,2015-12-02T19:29:16Z,2016-05-05T00:56:00Z,38.63122,-92.580769,NaN,NaN,2016-04-02T05:28:11Z,NaN,Soft Taco Supreme Beef,Taco Bell,MO
52933,AVwdKTFqIN2L1WUfs1SP,1020 W Buchanan St,"Fast Food Restaurant and Mexican Restaurant,Me...",California,NaN,2015-12-02T19:29:16Z,2016-05-05T00:56:00Z,38.63122,-92.580769,NaN,NaN,2016-04-02T05:28:11Z,NaN,Grilled Chicken Burrito,Taco Bell,MO
52934,AVwdKTFqIN2L1WUfs1SP,1020 W Buchanan St,"Fast Food Restaurant and Mexican Restaurant,Me...",California,NaN,2015-12-02T19:29:16Z,2016-05-05T00:56:00Z,38.63122,-92.580769,NaN,NaN,2016-04-02T05:28:11Z,"A warm, soft flour tortilla filled with authen...",Fresco Grilled Steak Soft Taco,Taco Bell,MO

In [9]:
result = df[
    ((df['city']=='New York') | (df['name']=='Taco Bell')) & (~df['menus.name'].isin(['Volcano Taco', 'Fresco Soft Taco']))
]

In [10]:
result = df[
    (~(df['menus.currency']).isna())
]

In [11]:
df['categories']

0        Restaurant Delivery Service,Restaurants,Pizza,...
1        Restaurant Delivery Service,Restaurants,Pizza,...
2             Golf Course, American Restaurant, and Resort
3                                     Fast Food Restaurant
4        Mexican Restaurant Mid-City West,Mexican Resta...
                               ...
77255                                           Restaurant
77256                                           Restaurant
77257                                           Restaurant
77258                                           Restaurant
77259                                           Restaurant
Name: categories, Length: 77260, dtype: object

In [12]:
df[['categories']]

                                              categories
0      Restaurant Delivery Service,Restaurants,Pizza,...
1      Restaurant Delivery Service,Restaurants,Pizza,...
2           Golf Course, American Restaurant, and Resort
3                                   Fast Food Restaurant
4      Mexican Restaurant Mid-City West,Mexican Resta...
...                                                  ...
77255                                         Restaurant
77256                                         Restaurant
77257                                         Restaurant
77258                                         Restaurant
77259                                         Restaurant

[77260 rows x 1 columns]

In [13]:
df['city'].value_counts()

city
San Diego            1924
Los Angeles          1603
Chicago              1186
San Francisco        1120
New York             1085
                     ...
Corfu                   1
Sharon Hill             1
Lawrence Township       1
Selinsgrove             1
Santa Clarita           1
Name: count, Length: 3601, dtype: int64

In [14]:
df[
    df['name']=='Taco Bell'
]['city'].value_counts()[0:5]

city
Indianapolis        84
Columbus            63
Charleston          63
Tampa               62
South Lake Tahoe    42
Name: count, dtype: int64

In [15]:
df[
    df['name']=='Taco Bell'
].groupby('city').count()['name'].sort_values(ascending=False)[0:5]

city
Indianapolis    84
Columbus        63
Charleston      63
Tampa           62
Fresno          42
Name: name, dtype: int64

In [16]:
df['dateAdded'] = pd.to_datetime(df['dateAdded'])

In [17]:
df['dateUpdated'] = pd.to_datetime(df['dateUpdated'])

In [18]:
df[df['dateAdded'].dt.month == 10]['name'][:5]

2     Diablo Grande Golf & Country Club
21                         Riff's Joint
22                         Riff's Joint
23                         Riff's Joint
24                         Riff's Joint
Name: name, dtype: object

In [19]:
df.groupby(df['dateAdded'].dt.month).agg({'id': 'nunique'})

             id
dateAdded
1           308
2           257
3          4970
4          3224
5          1141
6          1356
7           645
8           479
9           554
10         4716
11         1550
12          239

In [20]:
result = df.copy()

In [21]:
result['update_delta'] = pd.to_timedelta(df['dateUpdated']-df['dateAdded']).dt.days
result.head()

,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province,update_delta
0,AVwc__cikufWRAb51QjV,610 Commercial St,"Restaurant Delivery Service,Restaurants,Pizza,...",Atchison,Restaurant Delivery Service,2016-03-02 11:49:34+00:00,2017-02-01 18:04:44+00:00,39.561570,-95.121020,NaN,NaN,2017-02-01T18:04:44Z,NaN,Taco,Gambino's Pizza,KS,336
1,AVwc__cikufWRAb51QjV,610 Commercial St,"Restaurant Delivery Service,Restaurants,Pizza,...",Atchison,Restaurant Delivery Service,2016-03-02 11:49:34+00:00,2017-02-01 18:04:44+00:00,39.561570,-95.121020,NaN,NaN,2016-03-02T11:49:34Z,"Beef, onion, cheddar cheese, lettuce, refried...",Taco,Gambino's Pizza,KS,336
2,AVwc__dF_7pvs4fz1Ncy,9521 Morton Davis Dr,"Golf Course, American Restaurant, and Resort",Patterson,NaN,2016-10-14 01:58:25+00:00,2016-10-14 01:58:25+00:00,37.401855,-121.266703,NaN,NaN,2016-10-14T01:58:25Z,"Beef barbacoa or chicken, spanish rice, pico d...",Smotherd Burrito,Diablo Grande Golf & Country Club,Grayson,0
3,AVwc__kCByjofQCxkdm-,10550 W I 25 Frontage Rd,Fast Food Restaurant,Longmont,NaN,2016-09-09 17:30:34+00:00,2016-10-04 05:15:17+00:00,NaN,NaN,NaN,NaN,2016-09-09T17:30:34Z,NaN,Sausage Burrito,Mcdonald's,Niwot,24
4,AVwc__WtByjofQCxkdkR,8495 W 3rd St,"Mexican Restaurant Mid-City West,Mexican Resta...",Los Angeles,Mexican,2016-05-19 11:50:25+00:00,2016-09-11 00:06:37+00:00,34.080724,-118.389578,NaN,NaN,2016-05-19T11:50:25Z,"Wahoo, avocado, cabbage, pico de gallo and av...",Wahoo Tacogrilled,Baja Fresh Mexican Grill,Bicentennial,114

In [22]:
round(result['update_delta'].mean(), 2)

326.22

In [23]:
round(result['update_delta'].median(), 2)

364.0

In [24]:
result = result.groupby('city').agg({'update_delta':'mean', 'latitude':'max'}).reset_index()

In [25]:
zep_mean = result[
    result['city']=='Zephyrhills'
]['update_delta'].iloc[0]

zep_mean

In [27]:
df[
    df['categories'].str.contains('Pizza')
].head()

,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province
0,AVwc__cikufWRAb51QjV,610 Commercial St,"Restaurant Delivery Service,Restaurants,Pizza,...",Atchison,Restaurant Delivery Service,2016-03-02 11:49:34+00:00,2017-02-01 18:04:44+00:00,39.561570,-95.12102,NaN,NaN,2017-02-01T18:04:44Z,NaN,Taco,Gambino's Pizza,KS
1,AVwc__cikufWRAb51QjV,610 Commercial St,"Restaurant Delivery Service,Restaurants,Pizza,...",Atchison,Restaurant Delivery Service,2016-03-02 11:49:34+00:00,2017-02-01 18:04:44+00:00,39.561570,-95.12102,NaN,NaN,2016-03-02T11:49:34Z,"Beef, onion, cheddar cheese, lettuce, refried...",Taco,Gambino's Pizza,KS
66,AVwc_59U_7pvs4fz1Md3,3250 Kennedy Cir,"Pizza,Take Out Restaurants,Caterers,Restaurant...",Dubuque,Pizza,2016-03-29 04:45:06+00:00,2016-05-05 12:40:51+00:00,42.505264,-90.72141,NaN,NaN,"2016-05-05T12:40:51Z,2016-03-29T04:45:06Z",NaN,Taco Supreme,Falbo Bros Pizzeria,IA
67,AVwc_59U_7pvs4fz1Md3,3250 Kennedy Cir,"Pizza,Take Out Restaurants,Caterers,Restaurant...",Dubuque,Pizza,2016-03-29 04:45:06+00:00,2016-05-05 12:40:51+00:00,42.505264,-90.72141,NaN,NaN,"2016-05-05T12:40:51Z,2016-03-29T04:45:06Z",NaN,Taco,Falbo Bros Pizzeria,IA
158,AVwc_AmZkufWRAb51FxA,133 Howard St,"Pizza,Restaurants",Braintree,Pizza,2016-09-19 17:43:53+00:00,2016-09-19 17:43:53+00:00,42.233826,-70.98024,NaN,USD,2016-09-19T17:43:53Z,"Large salsa, pizza cheese, hamburger, hot pepp...",Mexican Taco,New England House of Pizza,Braintree Hld

In [28]:
df.head()

,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province
0,AVwc__cikufWRAb51QjV,610 Commercial St,"Restaurant Delivery Service,Restaurants,Pizza,...",Atchison,Restaurant Delivery Service,2016-03-02 11:49:34+00:00,2017-02-01 18:04:44+00:00,39.561570,-95.121020,NaN,NaN,2017-02-01T18:04:44Z,NaN,Taco,Gambino's Pizza,KS
1,AVwc__cikufWRAb51QjV,610 Commercial St,"Restaurant Delivery Service,Restaurants,Pizza,...",Atchison,Restaurant Delivery Service,2016-03-02 11:49:34+00:00,2017-02-01 18:04:44+00:00,39.561570,-95.121020,NaN,NaN,2016-03-02T11:49:34Z,"Beef, onion, cheddar cheese, lettuce, refried...",Taco,Gambino's Pizza,KS
2,AVwc__dF_7pvs4fz1Ncy,9521 Morton Davis Dr,"Golf Course, American Restaurant, and Resort",Patterson,NaN,2016-10-14 01:58:25+00:00,2016-10-14 01:58:25+00:00,37.401855,-121.266703,NaN,NaN,2016-10-14T01:58:25Z,"Beef barbacoa or chicken, spanish rice, pico d...",Smotherd Burrito,Diablo Grande Golf & Country Club,Grayson
3,AVwc__kCByjofQCxkdm-,10550 W I 25 Frontage Rd,Fast Food Restaurant,Longmont,NaN,2016-09-09 17:30:34+00:00,2016-10-04 05:15:17+00:00,NaN,NaN,NaN,NaN,2016-09-09T17:30:34Z,NaN,Sausage Burrito,Mcdonald's,Niwot
4,AVwc__WtByjofQCxkdkR,8495 W 3rd St,"Mexican Restaurant Mid-City West,Mexican Resta...",Los Angeles,Mexican,2016-05-19 11:50:25+00:00,2016-09-11 00:06:37+00:00,34.080724,-118.389578,NaN,NaN,2016-05-19T11:50:25Z,"Wahoo, avocado, cabbage, pico de gallo and av...",Wahoo Tacogrilled,Baja Fresh Mexican Grill,Bicentennial

In [31]:
ex19 = round(df[
    df['categories'].str.split(pat=",").apply(len)>20
].groupby('province').agg({'longitude':'min'}), 3).reset_index()
ex19.to_csv('ex19.csv',sep=';', index=False)
ex19

        province  longitude
0             AZ   -110.136
1             CA   -122.417
2             DC    -77.075
3          G P O    -73.990
4             KY    -87.455
5             MA    -71.055
6             MD    -77.453
7             NY    -76.794
8   St Simons Is    -81.394
9             TX    -94.939
10            VA    -77.093
11            WA   -122.383
12            WI    -89.377